@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* REQUIRED for shadcn */
@layer base {
  :root {
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 4.9%;
    --background: 0 0% 100%;
    --foreground: 222 84% 4.9%;
  }
}